{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import"],
  "ignorePatterns": ["dist/**/*"],
  "rules": {
    "no-unused-vars": "off", // use @typescript-eslint/no-unused-vars instead
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "sort-imports": [
      "error",
      { "ignoreCase": true, "ignoreDeclarationSort": true }
    ],
    "import/order": [
      1,
      {
        "groups": [
          "external",
          "builtin",
          "internal",
          "sibling",
          "parent",
          "index"
        ],
        "pathGroups": [
        ],
        "pathGroupsExcludedImportTypes": ["internal"],
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}